<h1>Get Started!</h1> <br>

<%= form_for @user do |f| %>

<div>
	<%= f.text_field :first_name, placeholder: "First Name" %>
</div>

<div>
	<%= f.text_field :last_name, placeholder: "Last Name" %>
</div>

<div>
	<%= f.text_field :email, placeholder: "Your Email" %>
</div>

<div>
	<%= f.password_field :password, placeholder: "password" %>
</div>

<div>
	<%= f.password_field :password, placeholder: "confirm password" %>
</div>
<br>

<h2> I'm ___ Free!</h2>



<input type="checkbox" name="type_allergy[gluten]" value="gluten"> Gluten <br>
<input type="checkbox" name="type_allergy[dairy]" value="dairy"> Dairy <br>
<input type="checkbox" name="type_allergy[peanut]" value="peanut"> Peanut <br>


<%= f.submit "Continue", class: "btn btn-large btn-primary" %>
<% end %>