<h1>Profile Page of <%= @user.first_name %></h1>
<%= link_to "Log out", logout_path, method: :delete %> <br>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:term, "type_allergy:") %>
  <%= text_field_tag(:term) %>
  <%= submit_tag("Search") %>
<% end %>
<h2>Your free-allergies restaurants!</h2>


<% @user.type_allergys.each do |type_allergy| %>
  <div>
    <h3><%= type_allergy.type_allergy %></h3>
  </div>
  <br>
<% end %>